<section class="setup-box js-signup-box fade-in">
  <div class="vertical">
    <form id="signup" class="setup-form" method="post" novalidate="novalidate">

      {{!-- Horrible hack to prevent Chrome from incorrectly auto-filling inputs --}}
      <input style="display:none;" type="text" name="fakeusernameremembered"/>
      <input style="display:none;" type="password" name="fakepasswordremembered"/>

      <header>
        <h1>Welcome to Instareel</h1>
        <h2>Lets get started.</h2>
      </header>
      <div class="form-wrap">
        <span class="input-icon icon-mail">
        {{input type="email" name="email" placeholder="Email Address" autocorrect="off" value=model.email }}
          </span>
      </div>
      <div class="form-wrap">
        <span class="input-icon icon-person">
        {{input type="text" name="name" autofocus="autofocus" placeholder="Full Name" autocorrect="off" value=model.name }}
        </span>
      </div>
      <div class="form-wrap">
        <span class="input-icon icon-lock">
        {{input type="password" name="password" placeholder="Password" autofocus="autofocus" autocorrect="off" value=model.password }}
          </span>
      </div>
      <footer>
        <button type="submit" class="btn btn-blue" {{action "signup"}} {{bind-attr disabled=submitting}}>Create Account</button>
      </footer>
      <section class="meta">
        Already have an account?
        {{#link-to 'login'}}Log In{{/link-to}}
      </section>
    </form>
  </div>
</section>
