<section class="setup-box js-signup-box fade-in">
  <div class="vertical">
    <form id="signup" class="setup-form" method="post" novalidate="novalidate">

      {{!-- Horrible hack to prevent Chrome from incorrectly auto-filling inputs --}}
      <input style="display:none;" type="text" name="fakeusernameremembered"/>
      <input style="display:none;" type="password" name="fakepasswordremembered"/>

      <header>
        <h1>Welcome to Instareel</h1>
        <h2>Lets get you set up for realtime instagram.</h2>
      </header>
      <div class="form-group">
        <label for="email">Email Address</label>
        {{input type="email" name="email" placeholder="Email Address" autocorrect="off" value=model.email }}
      </div>
      <div class="form-group">
        <label for="name">Full Name</label>
        {{input type="text" name="name" autofocus="autofocus" placeholder="Full Name" autocorrect="off" value=model.name }}
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        {{input type="password" name="password" placeholder="Password" autofocus="autofocus" autocorrect="off" value=model.password }}
      </div>
      <footer>
        <button type="submit" class="btn btn-blue" {{action "signup"}} {{bind-attr disabled=submitting}}>Create Account</button>
      </footer>
    </form>
  </div>
</section>
